[submodule "public"]
	path = public
	url = git@github.com:SJamieson/SJamieson.github.io.git
	branch = master
[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:SJamieson/hugo-academic.git
	branch = master
[submodule "themes/astatine"]
	path = themes/astatine
	url = git@github.com:SJamieson/hugo-astatine-theme.git
