.featured-image {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  max-width: 1355px;
}

.article-container {
  width: 100%;
  max-width: 1100px;
}

.home-section {
  padding: 60px 0 30px 0;
}

.media.stream-item {
  margin-bottom: 1rem;
}

.media.stream-item .stream-meta {
  margin: 0px;
}

.section-heading h1 {
  font-size: 2rem;
}

.view-list-item {
  margin-bottom: 0.5rem;
}

.awards {
  font-weight: bold;
  color: goldenrod;
}

.universal-wrapper {
  width: 100%;
  max-width: 1100px;
}
